
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "inter";
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

/*navbar start here*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    margin-top: 34px;
}
.nav_items li{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0 auto;

}
.nav_items a{
    text-decoration: none;
    color: black;
}
.nav_bottun a{
    display: flex;
    text-decoration:none;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    padding: 12.5px 16px;
    border-radius: 4px;
}